.characters__list {
  display: grid;
  grid-template-columns: 1fr;
  list-style: none;
  text-align: center;
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) {
  .characters__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1024px) {
  .characters__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-left: 30px;
    margin-right: 30px;
  }
}
