.characters__list {
  display: grid;
  list-style: none;
  text-align: center;
}

@media (min-width: 768px) {
  .characters__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1024px) {
  .characters__list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
}
