.character {
  margin-top: 10px;
  margin-bottom: 10px;

  &__photo {
    height: 295px;
    width: 210px;
  }
  &__link {
    text-decoration: none;
    color: #d1bc8a;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  &__name {
    margin-top: 5px;
  }
}
