.filters {
  display: flex;
  margin: 10px;
  align-items: center;
  justify-content: center;
  background-color: #f8f8f8;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.filters__text {
  font-size: 15px;
  color: #990000;
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 10px;
}
